<!DOCTYPE html>
html
head
  meta(charset="UTF-8")
  title Sidebar
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Satisfy|Fira+Sans:400,700,300")
  link(rel="stylesheet", href="css/style.css")
body
  header
    h1.logo ux
    nav.menu
      ul
        li: a(href="#") Arrows
        li: a(href="#") Bookmarks
        li: a(href="#") Buttons
        li: a(href="#") Cards
        li: a(href="#") Forms
        li: a(href="#") Modals
        
    a(href="https://github.com/flrnt" target="_blank").email-link + FLRNT
